@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                12: 12.125rem,
              )
            ),
        )
      ),
  )
);
$utilities: map-merge(
  $utilities,
  (
    "max-width":
      map-merge(
        map-get($utilities, "max-width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "max-width"), "values"),
              (
                80: 80rem,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "margin-left": (
      property: margin-left,
      class: ml,
      values: (
        0: 0,
        1: 1rem,
        2: 1.5rem,
        3: 2rem,
        4: 1.5rem,
        5: 3rem,
        6: 3.5rem,
        7: 4rem,
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/utilities/api";
