/* Fonts */

@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/Yekan.woff2);
  font-style: normal;
}

/* General */

:root {
  --table-tr-hover-bg: var(--bs-gray-100);
  --table-tbody-bg: var(--bs-white);
  --table-thead-bg: var(--bs-white);
  --bs-badge-color: var(--bs-black);
  --bs-dark: #131313;
  --bs-gray-900: #181818;
}

[data-bs-theme="dark"] {
  --bs-body-bg: var(--bs-dark);
  --bs-table-bg: var(--bs-gray-900);
  --bs-badge-color: var(--bs-white);
  --table-tr-hover-bg: var(--bs-gray-900);
  --table-tbody-bg: var(--bs-dark);
  --table-thead-bg: var(--bs-gray-900);
}

body {
  font-family: "Yekan", serif;
  --bs-body-font-size: 0.875rem;
}

/* Table */

.table.table-bordered {
  border-top-color: transparent;
  border-color: var(--bs-table-border-color);
}
.table.table-bordered th {
  border-left-color: transparent;
  font-weight: 300;
}

.table tbody tr:last-child {
  border-bottom-color: transparent;
}
.table tbody tr th {
  font-size: 1rem;
}
.table tbody td:last-child,
.table thead th:last-child {
  border-right-color: transparent;
}

.table th,
.table td {
  padding: 1.7rem;
  text-align: center;
}
.table tbody tr {
  --bs-table-bg: var(--table-tbody-bg);
}

.table thead tr {
  --bs-table-bg: var(--table-thead-bg);
  font-weight: 300;
  border-top: transparent;
}

.table tr:hover {
  --bs-table-bg: var(--table-tr-hover-bg);
}

/* Badge */

.badge {
  font-weight: 300;
  border: 1px solid darkgray;
  display: block;
  width: fit-content;
  margin: auto;
  --bs-badge-color: var(--bs-badge-color);
}
