/* Fonts */

@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/YekanBakh-Light.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/YekanBakh-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/YekanBakh-Medium.woff2);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/YekanBakh-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/YekanBakh-Fat.woff2);
  font-style: normal;
  font-weight: 800;
}

/* General */

:root {
  --table-tr-hover-bg: var(--bs-gray-100);
  --table-tbody-bg: var(--bs-white);
  --table-thead-bg: var(--bs-gray-50);
  --search-box-bg: var(--bs-white);
  --hotel-name: var(--bs-gray-400);
  --card-bg: var(--bs-white);
  --sidebar-bg: var(--bs-white);
  --tab-color: var(--bs-black);
  --popover-bg: var(--bs-white);
  --bs-badge-color: var(--bs-black);
  --bs-border-color: var(--bs-gray-200);
  --bs-icon-bg: var(--bs-white);
  --bs-body-bg: var(--bs-gray-100);
  --bs-dark: #131313;
  --bs-gray-900: #181818;
  --bs-gray-100: hsl(0, 0%, 95%);
  --bs-gray-50: #f9f9f9;
  --bs-lightblue: #bfdbfe;
  --bs-orange-700: #f9b033;
  --bs-orange-300: rgba(245, 216, 112, 0.3);
  --bs-green-400: #2fac65;
  --bs-darkgray: #00000005;
}

[data-bs-theme="dark"] {
  --table-tr-hover-bg: var(--bs-gray-900);
  --table-tbody-bg: var(--bs-dark);
  --table-thead-bg: var(--bs-gray-900);
  --search-box-bg: var(--bs-gray-900);
  --hotel-name: var(--bs-gray-700);
  --card-bg: var(--bs-dark);
  --sidebar-bg: var(--bs-gray-900);
  --popover-bg: var(--bs-gray-900);
  --bs-icon-bg: var(--bs-gray-900);
  --bs-body-bg: var(--bs-dark);
  --bs-table-bg: var(--bs-gray-900);
  --tab-color: var(--bs-orange-700);
  --bs-badge-color: var(--bs-white);
  --bs-border-color: var(--bs-gray-800);
  --border-box: var(--bs-gray-900);
}

body {
  font-family: "Yekan", serif;
  --bs-body-font-size: 14px;
}

button {
  font: inherit !important;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  display: block;
}

/* Table */

.table-wrapper {
  height: fit-content;
}

@media (width > 1300px) {
  .table-col {
    width: 79%;
  }
}

@media (width > 1100px) {
  .table-col {
    width: 73.5%;
  }
}

@media (width > 1350px) {
  .table-col {
    width: 75.5%;
  }
}

.table.table-bordered {
  border-top-color: transparent;
  border-color: var(--bs-table-border-color);
}
.table.table-bordered th {
  font-weight: 300;
}

.table tbody tr:last-child {
  border-bottom-color: transparent;
}
.table tbody tr th {
  font-size: 1rem;
}
.table tbody td:last-child,
.table thead th:last-child {
  border-right-color: transparent;
}

.table th,
.table td {
  padding: 1rem;
  padding-block: 1.5rem;
  text-align: center;
}

.table-small th,
.table-samll td {
  padding: 0.5rem;
  padding-block: 0.5rem;
  text-align: center;
}

.table tbody tr {
  --bs-table-bg: var(--table-tbody-bg);
}

.table thead tr {
  --bs-table-bg: var(--table-thead-bg);
  font-weight: 300;
  border-top: transparent;
}

.table tr:hover {
  --bs-table-bg: var(--table-tr-hover-bg);
}

.table-no-hover tr:hover {
  --bs-table-bg: var(--card-bg);
}

.table--crs th {
  --bs-table-bg: var(--card-bg);
  padding-inline: 0;
}

.table--crs td:not(:last-child) {
  font-size: 12px;
}

.table--crs td {
  padding-block: 0.4rem;
}

/* Badge */

.badge {
  font-weight: 300;
  border: 1px solid darkgray;
  display: block;
  width: fit-content;
  margin: auto;
  --bs-badge-color: var(--bs-badge-color);
}

/* utils */

.flow-content > * {
  margin-top: 1rem !important;
}

.pad-2 {
  padding: 0.6rem;
}

.pad-3 {
  padding: 0.9rem;
}

.padx-4 {
  padding-inline: 1.1rem;
  padding-block: 0.4rem;
}

.pad-9 {
  padding: 4rem;
  padding-inline: 5rem;
}

.mw-50 {
  max-width: 30rem;
  width: 100%;
}

.bg-orange {
  background: var(--bs-warning);
}

.bg-orange-700 {
  background-color: var(--bs-orange-700);
}

.bg-orange-500 {
  background-color: #fbdd8c;
}

.bg-orange-300 {
  background-color: var(--bs-orange-300);
}
.bg-body {
  background-color: var(--bs-body-bg);
}

.text-gray-300 {
  color: var(--bs-gray-300);
}

.text-gray-500 {
  color: #9ca3af;
}

.text-green-600 {
  color: #3f8600;
}

.bg-red-300 {
  background-color: #fecaca;
}

.text-red-700 {
  color: #d91323;
}

.bg-blue-400 {
  background-color: var(--bs-lightblue);
}

.bg-gray-50 {
  background-color: var(--bs-gray-50);
}

.bg-green-300 {
  background-color: #d9f99d;
}

.success-btn {
  background-color: #2fac65;
  color: white;
}

.bg-table {
  background-color: var(--card-bg);
}

.text-left {
  text-align: left !important;
}

.border-dark {
  border: 1px solid var(--bs-table-bg);
}

.border-gray-900 {
  border: 1px solid var(--border-box);
}

.w-15 {
  width: 9rem;
}

.link {
  text-decoration: none;
}

/* Nav */

.search {
  width: 15rem;
  padding-left: 1rem;
  background: var(--search-box-bg);
}

.search-popover {
  width: 100%;
  max-width: 34rem;
  left: -1.5rem !important;
  background: var(--card-bg);
  font: inherit !important;
}

.search-popover-l {
  left: 2rem !important;
}

.search-popover .popover-arrow {
  display: none !important;
}

.search-item {
  cursor: pointer;
  padding: 0.1rem;
  padding-inline: 0.4rem;
  border-radius: 100vw;
  transition: all 800ms;
  font-weight: 700;
}

.search-item:hover {
  color: var(--bs-orange);
  background-color: var(--table-thead-bg);
}

@media (width > 1100px) {
  .search {
    width: 20rem;
  }
}

@media (width > 1300px) {
  .search {
    width: 33rem;
  }
}

.search input {
  background: var(--search-box-bg);
}

.search input:focus {
  background: transparent;
}

.search input::placeholder {
  color: var(--bs-gray-500);
}

.hotel-profile-btn:hover {
  color: var(--bs-orange);
}

.icon-bg {
  background-color: var(--bs-icon-bg);
}

.nav-a {
  font: inherit;
  text-align: right;
  border: 0;
}

.active-page {
  background-color: var(--bs-white);
  border-radius: 100vw;
  color: var(--bs-orange);
  width: 88%;
  margin-inline: 1rem;
  text-align: center !important;
}

/* Accordion */

.accordion {
  --bs-accordion-bg: transparent;
  --bs-border-color: transparent;
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-icon-width: 0.5rem;
  --bs-accordion-active-bg: orange;
}

.accordion-button {
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 100vw;
  justify-content: space-between;
  font-size: 0.975rem !important;
  --bs-accordion-inner-border-radius: 100vw;
  --bs-accordion-active-color: white;
}

.accordion-button::after {
  margin: 0;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-active {
  background: var(--bs-ornage);
  border-radius: 100vw;
  padding: 1rem;
}

.accordion-active-item {
  --bs-btn-color: var(--bs-orange);
}

.accordion-collapse {
  background-color: var(--bs-darkgray);
}

/* Popover */

.custom-pop {
  --bs-popover-bg: var(--bs-black);
  --bs-popover-body-color: white;
  --bs-popover-border-radius: 100vw;
  --bs-popover-body-padding-y: 0.5rem;
  --bs-popover-body-padding-x: 0.5rem;
}

.focus-pop {
  --bs-popover-bg: var(--popover-bg);
  --bs-popover-border-radius: 5rem;
  --bs-popover-border-color: transparent;
  --bs-popover-border-radius: 1rem;
  --bs-font-sans-serif: "Yekan";
}

/* Side Bar */

.side-bar {
  background-color: var(--sidebar-bg);
  min-width: 17rem;
}

.siadebar-tabs {
  background-color: var(--sidebar-bg);
}

.sidebar-scroll::-webkit-scrollbar {
  display: none !important;
}
.sidebar-scroll {
  scrollbar-width: none; /* Firefox 64 */
}

.active-item::after {
  right: 3rem;
  top: -0.1rem;
  z-index: 9999;
  position: absolute;
  content: "";
  width: 7px;
  height: 49px;
  display: block;
  background-color: var(--bs-warning);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.logout-btn {
  background-color: var(--bs-border-color);
}

.active-tab {
  background-color: var(--bs-orange-700);
  border-radius: 100vw;
  border: 0;
  padding: 0.5rem !important;
  position: relative;
  margin-left: 0 !important;
}

/* Login */

.form-check-input:checked {
  background-color: #f9b033;
  box-shadow: none;
  border: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

/* Hotel Select */

.hotel-select img {
  filter: grayscale(1);
}

.hotel-select:hover .hotel-outline {
  background-color: var(--bs-orange-700);
}

.hotel-outline {
  outline: 1px dashed var(--bs-orange-700);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.hotel-selected .hotel-outline {
  background-color: var(--bs-orange-700);
  outline: 0;
}

.hotel-selected .hotel-name {
  color: var(--bs-white);
  background-color: var(--bs-black);
}
.hotel-name {
  background-color: var(--hotel-name);
  padding: 0.3rem;
  border-radius: 100vw;
  font-weight: 600;
}

.hotel-submit:hover {
  background-color: var(--bs-orange-700) !important;
}

/* Tabs */

.nav-link.active {
  border-bottom: 2px solid var(--bs-orange) !important;
  color: var(--tab-color) !important;
}

.select-day:checked + label {
  background-color: var(--card-bg);
}

.select-day + label {
  transition: background-color 1000ms ease;
}

.select-day + label:hover {
  background-color: var(--bs-border-color);
}

/* Calander */

.drp-calendar {
  font-family: "Yekan";
}

.drp-selected {
  display: none !important;
}

.applyBtn {
  border-radius: 100vw;
  background-color: var(--bs-orange-700);
  border: 0;
  padding: 0.4rem !important;
  padding-inline: 1.5rem !important;
}

.cancelBtn {
  display: none;
}

.daterangepicker {
  border-radius: 1rem !important;
}

.start-date.active,
.end-date.active {
  background-color: var(--bs-orange-700) !important;
}

.calendar-table {
  background-color: var(--card-bg) !important;
}

[data-bs-theme="dark"] {
  .drp-calendar {
    background-color: var(--card-bg);
  }
  .calendar-table {
    border: 0 !important;
  }

  .ends {
    background-color: var(--bs-dark) !important;
  }

  .border-dark {
    border-color: transparent !important;
  }

  .available:hover {
    background-color: orange !important;
  }

  td.active {
    background-color: orange !important;
  }

  td.in-range {
    background-color: var(--bs-gray-900) !important;
  }
  .available {
    background-color: var(--bs-dark) !important;
    color: white !important;
  }
}

/* Form */

.input {
  background-color: var(--sidebar-bg);
  border-radius: 1rem;
}

.input:focus {
  border-color: var(--bs-orange);
  box-shadow: none;
  background-color: var(--card-bg);
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: fit-content;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--table-tbody-bg);
  border-radius: 1.5rem;
  padding: 10px;
  margin-top: 10px;
  height: auto;
  transition: 0.5s ease;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  font-weight: 600;
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.2rem;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
}

.select-dropdown li:hover,
.select-dropdown input:checked ~ label {
  background-color: var(--bs-border-color);
  border-radius: 1.5rem;
}

.select-dropdown input:focus ~ label {
  background-color: var(--bs-border-color);
}

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.custom-select {
  min-width: 100%;
  width: max-content;
}

.custom-select-label {
  cursor: pointer;
}

.form-checkbox {
  background-color: var(--card-bg);
  overflow: hidden;
  border-radius: 1.2rem;
  padding: 1rem;
  position: relative;
  width: fit-content;
  transition: border 100ms ease-in;
}

.form-checkbox p {
  margin-right: 1.9rem !important;
}

.form-checkbox label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
}

.form-checkbox:hover {
  border-color: var(--bs-orange) !important;
}

.form-options .col-4 {
  width: 23%;
}

.form-container {
  background-color: var(--sidebar-bg);
  border-radius: 1.7rem;
  max-width: 31rem;
  border: 1px solid var(--bs-icon-bg);
}

.input-addon input {
  border-radius: 0 1rem 1rem 0;
}

.input-addon span {
  border-radius: 1rem 0 0 1rem;
  background-color: #ffffff05;
}

/* CRS */

.crs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.crs-heading span {
  color: var(--bs-orange);
  border: 1px solid var(--bs-orange-700);
  border-radius: 100vw;
  padding-inline: 1rem;
  text-align: center;
  width: fit-content;
  display: block;
  font-size: 12px;
}

.crs-heading .percentage {
  background-color: var(--bs-border-color);
  border-radius: 100vw;
  width: 93px;
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.3rem;
  font-size: 12px;
  text-align: right;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.crs-heading .bar {
  background-color: var(--bs-orange-700);
  width: 15px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 1rem;
  z-index: -1;
}

.crs-btn > * {
  background-color: var(--bs-orange-700);
  border-radius: 100vw;
  padding: 0.4rem;
  margin-right: 0.5rem;
}

.crs-date-change {
  background-color: var(--bs-orange-700);
  border-radius: 100vw;
  padding-inline: 0.5rem;
  padding-block: 0.4rem;
}

.crs-date-change button {
  background-color: var(--card-bg);
  border-radius: 100vw;
  padding: 0.1rem;
}

.crs-date-container {
  display: flex;
  justify-content: center;
}

.crs-status {
  position: relative;
}

.crs-status::before {
  top: -0.2rem;
  left: -0.2rem;
  content: " ";
  position: absolute;
  cursor: pointer;
  display: block;
  border-radius: 100vw;
  background-color: red;
  width: 16px;
  height: 16px;
}
/* Stepper */

.active .bs-stepper-circle {
  background-color: var(--bs-orange-700);
}

.bs-stepper-circle {
  background-color: var(--bs-gray-300);
}

.bs-stepper-circle:not(.active .bs-stepper-circle) {
  color: var(--bs-black);
}

/* Map */
